@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #111111;
}

html {
  scroll-behavior: smooth;
}

body {
  background: white;
  color: black;
  overflow-x: hidden;
  font-family: var(--font-inter);
}

.bebas {
  font-family: var(--font-bebas);
}

img {
  user-select: none;
}

/* Hide scrollbar */
::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}